.about-main-container {
  text-align: center;
  padding: 80px 20px 20px;
}

.about-main-heading {
  font-size: 40px;
}

.about-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 5px;
  border: 5px rgb(145 32 145) solid;
  margin: 25px auto;
  background: url("./../assets/images/Anusree\ V\ A\ Photo.jpg");
  background-size: contain;
}

.about-description {
  font-size: 18px;
}

.about-links-container {
  margin: 25px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.about-links-icon-container {
  display: flex;
  gap: 15px;
  align-items: center;
  align-content: center;
  font-size: 30px;
}

.about-link-icon {
  align-self: center;
  cursor: pointer;
}

.about-resume-download-button {
  margin-top: 25px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  color: #081730;
  cursor: pointer;
  transition: all 0.1s linear;
  font-weight: bold;
}

.about-resume-download-button:hover,
.about-resume-download-button:active {
  color: rgb(145 32 145);
  box-shadow: 3px 3px 3px #081730;
  transform: scale(1.08, 1.08);
}

.about-resume-download-button:active {
  background-color: antiquewhite;
  transform: scale(1.06, 1.06);
  color: rgb(141, 23, 141);
}

a {
  text-decoration: none;
}
