.header {
  position: fixed;
  width: 100vw;
  background: #081730;
  opacity: 0.8;
  padding: 10px;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  gap: 15px;
  justify-content: right;
  align-items: center;
  align-content: center;
  color: whitesmoke;
  padding: 10px 22px;
}

.nav-item {
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s;
}

#about:hover,
#skills:hover,
#projects:hover,
#contact:hover {
  font-size: 18px;
}

#about:active,
#skills:active,
#projects:active,
#contact:active {
  font-weight: bold;
}
