.left-nav-bar-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background: #081730;
  z-index: 9999;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.left-nav-bar-item {
  border: none;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  padding: 20px;
  font-size: 16px;
  transition: all 0.3s;
}

.left-nav-bar-item:hover {
  font-size: 18px;
}

.left-nav-bar-item:active {
  font-weight: bold;
}

.blur-background {
  position: fixed;
  left: 0px;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #081730af;
  z-index: 1001;
}

.material-symbols-outlined {
  font-size: 32px;
  cursor: pointer;
}

.slide-in-from-left {
  animation: slide-in 0.75s forwards;
  -webkit-animation: slide-in 0.75s forwards;
}

.slide-out-from-left {
  animation: slide-out 0.75s forwards;
  -webkit-animation: slide-out 0.75s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@media screen and (min-width: 500px) {
  .left-nav-bar-menu-icon-container,
  .left-nav-bar-container,
  .blur-background {
    display: none;
  }
}
