.skills-main-container {
  padding: 50px 20px 20px;
}

.skills-main-heading {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.skills-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 15px;
  color: whitesmoke;
}

.skill-icon {
  font-size: 80px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.1s linear;
}

.skill-icon:hover {
  transform: scale(1.1, 1.1);
}

@media screen and (max-width: 500px) {
  .skills-container {
    justify-content: center;
  }
}
