body {
  background-color: #081730;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  overflow-x: hidden;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* Scroll Bar */
body::-webkit-scrollbar {
  width: 1em;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #0616339f;
  border-radius: 5px;
}
